#app{
    display: grid;
    grid-template-columns: 51.25% 48.75%;

    height: 100vh;
    /* sempre vai ficar sem rolagem, tudo fixo  */
    overflow: hidden;
}
main{
    /* colocar a rolagem apenas no main, pois esta especificando */
    overflow: auto;
    /* padding que existe em cima e nas laterais */
    padding: 4rem;
    & .main-container{
        max-width: 33rem;
        /* para colocar o conteudo sempre proximo a divisao */
        margin-left: auto;
    }
}
aside{
    padding: 4rem;
    background-color: var(--surface-secondary);
    & .aside-container{
        max-width: 31rem;
    }
    & strong{
        color: var(--stroke-highlight);
    }
    & img {
        padding-top: 2rem;
    }
}
.back {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 1.5rem;
}
.main-container > h1{
    font: var(--h1);
    padding-bottom: 0.5rem;
}
.main-container > p{
    font: var(--text);
    color: var(--text-color-secondary);
}
header > h2{
    font: var(--h1);
    padding-block: 0.5rem;
}
header > p{
    font: var(--text);
    color: var(--text-color-secondary);
}